## SALARY ANALYSIS PROJECT

import pandas as pd
import numpy as np

In [291]:
sal = pd.read_csv('salaries.csv')
sal.shape

(148654, 13)

# Head of the dataframe

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

## Use of info() method

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 10.2+ MB

In [5]:
#Removing Not Provided values
df = sal[sal['BasePay']=='Not Provided'].index
sal.drop(index=df,inplace=True)

In [6]:
#changing datatype of BasePay
sal['BasePay']= sal['BasePay'].astype(float)
sal.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

## Calculating Average BasePay

In [7]:
#Average Base Pay
avgsal = sal[sal['BasePay']!=0]
avgsal['BasePay'].mean()

66912.10773366934

## Calculating Hihest amount of overtime pay

In [8]:
#Highest amount of overtime pay
sal['OvertimePay']=sal['OvertimePay'].astype(float)
sal['OvertimePay'].max()

245131.88

## Jobtitle of JOSEPH DRISCOLL

In [29]:
#Jobtitle of JOSEPH DRISCOLL
a= sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [56]:
sal['Benefits']= sal['Benefits'].astype(float)
sal['Benefits'].dtype

dtype('float64')

## Calculating salary of Joseph Driscoll with benefits

In [102]:
#Joseph Driscoll salary with benefits
b= sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

## Highest Salary including Benefits

In [160]:
#Highest salary including Benefits

#Calculating Highest salary first
sal['TotalPayBenefits'].max()
#Using Highest salary for employeename
sal.loc[sal['TotalPayBenefits']==567595.43]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

# Lowest paid person

In [168]:
#calculating Minimum salary first
sal['TotalPayBenefits'].min()
#Using minimum salary for finding the employeename
sal.loc[sal['TotalPayBenefits']==-618.13]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

# Average BasePay (mean) of all employees per year

In [175]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

# Unique Job titles

In [181]:
#Name of Unique job titles
sal['JobTitle'].unique()

#Number of unique job titles
sal['JobTitle'].nunique()

2158

# Top 5 most common jobs

In [185]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

# How many Job Titles were represented by only one person in 2013?

In [244]:
(sal[sal['Year']==2013]['JobTitle'].value_counts()==1).sum()

202

# How many people have the word Chief in their job title?

In [277]:
#Made a new variable called chief in which i converted jobtitle to upper case
chief = sal['JobTitle'].str.upper()
#calculated values
chief.str.contains('CHIEF').sum()

627